<html>

<style type="text/css">

body {

text-align: center;

}

#wrapper {

      width: 720px;

      margin: 0 auto;

      text-align: left;

}
</style>


<body  bgcolor="Silver">

<h2>Image Example</h2>
	<div>
		<img border="0" src="http://captionmash.s3.amazonaws.com/image/official/comic/L4D_Sacrifice_P2/033.jpg" alt="L4D The Sacrifice"/>
		<br>
		<br>
		<a href="http://www.captionmash.com/create/" onclick="window.open('http://www.captionmash.com/create/?p=fTZ6W'); return false"> <img src="http://localhost:8000/button/awesome_button_small.png"alt="Caption this image!" border="0" /> </a>
		<a href="http://www.captionmash.com/create/" onclick="window.open('http://www.captionmash.com/create/?p=fTZ6W'); return false"> <img src="http://localhost:8000/button/awesome_button_medium.png"alt="Caption this image!" border="0" /> </a>		
		<a href="http://www.captionmash.com/create/" onclick="window.open('http://www.captionmash.com/create/?p=fTZ6W'); return false"> <img src="http://localhost:8000/button/awesome_button_large.png"alt="Caption this image!" border="0" /> </a>
	</div>
		<br>
		<br>
	<p id="wrapper">
	Click the buttons above to add captions to the picture. A new window will be opened.
	</p>
</body>
</html>
